# required
ENVIRONMENT=<"development","staging" or "production">
MSS_URL="http://localhost:8002"
GRAFANA_LOKI_URL=http://host.docker.internal:3100/loki/api/v1/push
LOKI_LOGGER_ID=<some-id>
# Note: This MSS_PORT overrides any mss_port in mss_config.toml
MSS_PORT=8002
# the version of redis image to use
REDIS_VERSION=8.4.0

# docker LOGGING_DRIVER can be journald, json-file, local etc. 
# journald is Linux only. 
# json-file uses a json file on the file system
# local is not meant to be accessed by other systems like promtail as its format can change
LOGGING_DRIVER=journald
# optional
MSS_VERSION=v0.0.1
DASHBOARD_VERSION=v0.0.1
PROMTAIL_VERSION=2.8.3

# the domain (plus port) of where the registry is
REGISTRY="localhost:8020"
